/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #accccd;
    direction: rtl;
    margin: 0;
}



header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    z-index: 2;
  }

.header h1 {
    font-size: 2.5em;
}

.header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.main-content p {
    margin-bottom: 15px;
    text-align: justify;
}

.managers {
    margin-top: 20px;
}

.manager {
    margin-bottom: 20px;
}

.manager h3 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
    bottom: 0;
}










.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #555;
}



  /* עיצוב כפתור הבית */
  .home-button {
    position: fixed; /* מקבע את המיקום למסך */
    top: 7px; /* מרחק של 10px מהחלק העליון של המסך */
    width: 60px; /* גודל הכפתור */
    height: 60px; /* גודל הכפתור */
    display: flex; /* מרכז את התוכן בכפתור */
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* מעגל מעט את הפינות */
    text-decoration: none; /* מסיר עיצוב קו תחתון אם מדובר בלינק */
  }
  
  /* עיצוב הלוגו בתוך הכפתור */
  .home-button img {
    width: 100%; /* מתאים את גודל התמונה לכפתור */
    height: 100%; /* מתאים את גודל התמונה לכפתור */
    object-fit: cover; /* ממלא את הכפתור בלי לעוות את התמונה */
    border-radius: 10px; /* תואם את עיגול הפינות של הכפתור */
    margin-right: 10px;
  }
  